@use "../mixin.scss" as mixin;

.todo_wrapper {
  background-color: mixin.$stone-50;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.todo_container {
  //background-color: lavender;
  width: 55.5%;
  margin: 7rem auto;
  @include mixin.mobile {
    width: 80%;
  }
  @include mixin.tablet {
    width: 80%;
  }
  .todo_up {
    // @include mixin.flex(space-between, center, row);
    display: grid;
    grid-template-columns: 2fr 1fr;
    @include mixin.tablet {
      grid-template-columns: 3fr 1fr;
    }
    @include mixin.mobile {
      grid-template-columns: 3fr 1fr;
    }
    h3 {
      @include mixin.tablet {
        font-size: mixin.$big-1;
      }
      @include mixin.mobile {
        font-size: mixin.$big-1;
      }
    }
    &__options {
      @include mixin.flex(flex-end, center, row);
      //background-color: lightpink;
      gap: 2rem;
      p {
        color: mixin.$rose-700;
        font-weight: 600;
        cursor: pointer;
      }
      button {
        //height: 100%;
        @include mixin.tablet {
          padding: 0.4rem 1.8rem;
          margin-left: 1rem;
        }
      }
    }
  }

  .todo_addNewTask {
    transition: opacity 1.3s ease-out;
    form {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin-top: 3rem;
      //background-color: lavender;
      transition: opacity 1.5s ease-in-out;
      @include mixin.mobile {
        @include mixin.flex(center, flex-start, column);
        //background-color: lavender;
        //margin-left: 1rem;
      }
      @include mixin.tablet {
        grid-template-columns: 2fr 1fr;
      }
      textarea {
        background-color: mixin.$stone-50;
        border: none;
        padding: 2rem 1rem 1rem 1rem;
        font-weight: 400;
        display: block;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        resize: none;
        font-size: mixin.$regular-3;
        color: mixin.$stone-800;
        line-height: 16px;
        &::placeholder {
          color: mixin.$stone-300;
        }
        @include mixin.mobile {
          font-size: mixin.$medium-2;
          margin-bottom: 0.5rem;
          //background-color: lavender;
          width: 100%;
        }
        @include mixin.tablet {
          font-size: mixin.$medium-2;
        }
      }
    }
    .todo_addNewTask__options {
      @include mixin.flex(flex-end, center, row);
      gap: 2rem;
      p {
        color: mixin.$sky-700;
        font-weight: 600;
        cursor: pointer;
      }
      button {
        @include mixin.tablet {
          padding: 1rem 1.8rem;
          border-radius: 1rem;
        }
      }
      @include mixin.mobile {
        margin-left: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        text-align: center;
        button {
          margin-right: 1rem;
        }
      }
    }
    .warning {
      color: mixin.$rose-600;
      font-weight: 500;
      font-size: mixin.$regular-4;
      padding: 0rem 1rem;
      margin-top: 0.5rem;
      margin-bottom: 4rem;
      letter-spacing: -0.5px;
      line-height: 16px;
      @include mixin.tablet {
        font-size: mixin.$regular-2;
        width: 60%;
      }
      @include mixin.mobile {
        font-size: mixin.$regular-2;
        width: 100%;
      }
    }
  }
}

button {
  color: mixin.$sky-50;
  background-color: mixin.$sky-800;
  border: none;
  border-radius: 8px;
  padding: 1rem 1.8rem;
  box-shadow: mixin.$shadow-base;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;

  @include mixin.tablet {
    border-radius: 1rem;
    display: block;
  }
}
