@use "../mixin.scss" as mixin;

.todo_wrapper {
  background-color: mixin.$stone-50;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.todo_container {
  //background-color: lavender;
  width: 55%;
  margin: 8rem auto;
  @include mixin.mobile {
    width: 80%;
  }
  @include mixin.tablet {
    width: 80%;
  }
  .todo_up {
    // @include mixin.flex(space-between, center, row);
    display: grid;
    grid-template-columns: 2fr 1fr;
    @include mixin.tablet {
      grid-template-columns: 3fr 1fr;
    }
    @include mixin.mobile {
      grid-template-columns: 3fr 1fr;
    }
    h3 {
      @include mixin.tablet {
        font-size: mixin.$big-1;
      }
      @include mixin.mobile {
        font-size: mixin.$big-1;
      }
    }
    &__options {
      @include mixin.flex(flex-end, center, row);
      //background-color: lightpink;
      gap: 2rem;
      p {
        color: mixin.$rose-700;
        font-weight: 600;
        cursor: pointer;
      }
      button {
        @include mixin.tablet {
          padding: 0.4rem 1.8rem;
        }
      }
    }
  }

  .todo_addNewTask {
    transition: opacity 1.5s ease-in-out;
    form {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin-top: 3rem;
      //background-color: lavender;
      transition: opacity 1.5s ease-in-out;
      @include mixin.mobile {
        @include mixin.flex(center, flex-start, column);
        //background-color: lavender;
        //margin-left: 1rem;
      }
      @include mixin.tablet {
        grid-template-columns: 2fr 1fr;
      }
      textarea {
        background-color: mixin.$stone-50;
        border: none;
        padding: 2rem 1rem 1rem 1rem;
        font-weight: 400;
        word-wrap: break-word;
        display: block;
        /* or */
        overflow-wrap: break-word;
        white-space: pre-wrap;
        resize: none;
        font-size: mixin.$regular-3;
        color: mixin.$stone-800;
        line-height: 16px;
        &::placeholder {
          color: mixin.$stone-300;
        }
        @include mixin.mobile {
          font-size: mixin.$medium-2;
          margin-bottom: 0.5rem;
          //background-color: lavender;
          width: 100%;
        }
        @include mixin.tablet {
          font-size: mixin.$medium-2;
        }
      }
    }
    .todo_addNewTask__options {
      @include mixin.flex(flex-end, center, row);
      gap: 2rem;
      p {
        color: mixin.$sky-700;
        font-weight: 600;
        cursor: pointer;
      }
      button {
        @include mixin.tablet {
          padding: 1rem 1.8rem;
          border-radius: 1rem;
          display: block;
        }
      }
      @include mixin.mobile {
        margin-left: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        text-align: center;
        button {
          margin-right: 1rem;
        }
      }
    }
    .warning {
      color: mixin.$rose-600;
      font-weight: 500;
      font-size: mixin.$regular-4;
      padding: 0rem 1rem;
      margin-top: 0.5rem;
      margin-bottom: 4rem;
      letter-spacing: -0.5px;
      line-height: 16px;
      @include mixin.tablet {
        font-size: mixin.$regular-2;
        width: 60%;
      }
      @include mixin.mobile {
        font-size: mixin.$regular-2;
        width: 100%;
      }
    }
  }

  .todo_bottom {
    height: 17vh;
    margin-top: 2rem;
    background-color: white;
    box-shadow: mixin.$shadow-base;
    border-radius: 8px;
    @include mixin.flex(center, center, row);
    p {
      background-color: white;
      color: mixin.$stone-700;
      font-weight: 500;
    }
  }
}

button {
  padding: 1rem 1.8rem;
  color: mixin.$sky-50;
  background-color: mixin.$sky-800;
  box-shadow: mixin.$shadow-base;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  //display: inline-block;
  //padding: 0.35em 1.2em;
  //margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;

  @include mixin.tablet {
    //padding: 0.4rem 1.8rem;
    border-radius: 1rem;
    display: block;
    //margin: 0.4em auto;
  }
  @include mixin.desktop {
    //padding: 0.8em 1.8em;
  }
}

.modal {
  position: fixed;
  @include mixin.flex(center, center, column);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;

  &__content {
    background-color: white;
    //min-height: 24vh;
    width: 30rem;
    margin: auto;
    border-radius: 12px;
    box-shadow: mixin.$shadow-md;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    p {
      @include mixin.flex(center, center, column);
      font-weight: 600;
      font-size: mixin.$regular-4;
      @include mixin.mobile {
        font-size: mixin.$regular-1;
      }
      @include mixin.tablet {
        font-size: mixin.$regular-1;
      }
    }
    @include mixin.tablet {
      min-width: 20%;
      max-width: 75%;
      //min-height: 35vh;
      overflow: auto;
    }

    @include mixin.mobile {
      max-width: 70%;
      //min-height: 30vh;
    }

    @include mixin.desktop {
      width: 21vw;
      min-height: 25vh;
    }

    &__confirmation {
      background-color: mixin.$stone-50;
      //padding-top: 1rem;
      //background-color: lavender;
      @include mixin.flex(space-evenly, center, row);
      //border-radius: 0px 12px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .cancel,
    .confirm {
      width: 50%;
      margin: 1rem 1rem 1rem 0rem;
      gap: 10px;
      font-weight: 600;
      font-size: mixin.$regular-4;
      letter-spacing: 0.5px;
      line-height: 20px;
      @include mixin.mobile {
        font-size: mixin.$regular-1;
      }
      @include mixin.tablet {
        font-size: mixin.$regular-1;
      }
    }

    .cancel {
      //width: 40%;
      background-color: mixin.$stone-50;
      color: mixin.$stone-700;
      box-shadow: none;
    }
    .confirm {
      //width: 60%;
      box-shadow: mixin.$shadow-base;
      background-color: mixin.$rose-800;
      border-radius: 8px;
      gap: 10px;
    }
  }

  &__empty {
    background-color: white;
    min-height: 24vh;
    width: 30rem;
    margin: auto;
    border-radius: 12px;
    box-shadow: mixin.$shadow-md;
    display: grid;
    grid-template-rows: 2fr 1fr;
    p {
      @include mixin.flex(center, center, column);
      font-weight: 600;
      font-size: mixin.$regular-4;
      @include mixin.mobile {
        font-size: mixin.$regular-1;
      }
      @include mixin.tablet {
        font-size: mixin.$regular-1;
      }
    }
    button {
      font-weight: 600;
      font-size: mixin.$regular-4;
      color: mixin.$stone-700;
      background-color: mixin.$stone-100;
      @include mixin.mobile {
        font-size: mixin.$regular-1;
      }
      @include mixin.tablet {
        font-size: mixin.$regular-1;
      }
    }
  }
}
