@use "../mixin.scss" as mixin;

.todo_wrapper {
  background-color: mixin.$stone-50;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.todo_container {
  //background-color: lavender;
  width: 55%;
  margin: 8rem auto;
  @include mixin.mobile {
    width: 80%;
  }
  @include mixin.tablet {
    width: 80%;
  }
  .todo_up {
    // @include mixin.flex(space-between, center, row);
    display: grid;
    grid-template-columns: 3fr 1fr;
    &__options {
      @include mixin.flex(flex-end, center, row);
      //background-color: lightpink;
      gap: 2rem;
      p {
        color: mixin.$rose-700;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .todo_addNewTask {
    form {
      display: grid;
      grid-template-columns: 4fr 1fr;
      margin-top: 3rem;
      textarea {
        background-color: mixin.$stone-50;
        border: none;
        padding: 2rem 1rem 1rem 1rem;
        font-weight: 400;
        word-wrap: break-word;
        display: block;
        /* or */
        overflow-wrap: break-word;
        white-space: pre-wrap;
        resize: none;
        font-size: mixin.$regular-3;
        color: mixin.$stone-800;
        line-height: 16px;
        &::placeholder {
          color: mixin.$stone-300;
        }
      }
    }
    .todo_addNewTask__options {
      @include mixin.flex(flex-end, center, row);
      gap: 2rem;
      p {
        color: mixin.$sky-700;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .warning {
      color: mixin.$rose-600;
      font-weight: 500;
      font-size: mixin.$regular-4;
      padding: 0rem 1rem;
      margin-bottom: 4rem;
      letter-spacing: -0.5px;
      line-height: 16px;
    }
  }

  .todo_bottom {
    height: 17vh;
    margin-top: 2rem;
    background-color: white;
    box-shadow: mixin.$shadow-base;
    border-radius: 8px;
    @include mixin.flex(center, center, row);
    p {
      background-color: white;
      color: mixin.$stone-700;
      font-weight: 500;
    }
  }
}
