////////////////////////////////// Color Palette //////////////////////////////////
$sky-800: #075985;
$sky-700: #0369a1;
$sky-100: #e0f2fe;
$sky-50: #f0f9ff;

$rose-800: #9f1239;
$rose-700: #be123c;
$rose-600: #e11d48;
$rose-100: #ffe4e6;
$rose-50: #fff1f2;

$stone-900: #1c1917;
$stone-800: #292524;
$stone-700: #44403c;
$stone-500: #78716c;
$stone-400: #a8a29e;
$stone-300: #d6d3d1;
$stone-100: #f5f5f4;
$stone-50: #fafaf9;

$emerald-600: #059669;

////////////////////////////////// Shadow Palette //////////////////////////////////
$shadow-base: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
$shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
  0px 2px 4px -1px rgba(0, 0, 0, 0.06);

////////////////////////////////// Sizing //////////////////////////////////
$big-1: calc(1.8rem + 1vw);
$big-2: calc(1.5rem + 1vw);
$big-3: calc(1.2rem + 1vw);
$big-4: calc(2.4rem + 1vw);
$big-5: calc(2rem + 1vw);

$medium-1: calc(1.3rem + 1vw);
$medium-2: calc(1rem + 1vw);
$medium-3: calc(0.6rem + 1vw);

$regular-1: calc(1rem + 1vw);
$regular-2: calc(0.7rem + 1vw);
$regular-3: calc(0.2rem + 1vw);
$regular-4: calc(0.1rem + 1vw);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin mobile {
  @media only screen and (max-width: 360px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}
